*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:1024px){

  header{
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  header li{
    margin: 0 30px;
    font-size: 18px;
  }

  .play{
    display: flex;
    margin: 5% 25%;
  }
  
  .play p{
    padding: 30px;
    border: 3px solid blueviolet;
    border-radius: 1cm;
    margin: 20px 0;
    font-size: 18px;
  }

    .play p:hover{
      padding: 32px;
    }

    .tuor1, .tuor2, .tuor3, .tuor4, .tuor5, .tuor6, .tuor7, .tuor8, .tuor9{
      width: 80%;
      margin: auto;
    }

   .tuor1 h1, .tuor2 h1, .tuor3 h1, .tuor4 h1, .tuor5 h1, .tuor6 h1, .tuor7 h1, .tuor8 h1, .tuor9 h1{
    width: 100%;
    font-size: 22px;
   }

   .tuor1 ul, .tuor2 ul, .tuor3 ul, .tuor4 ul, .tuor5 ul, .tuor6 ul, .tuor7 ul, .tuor8 ul, .tuor9 ul{
    font-size: 18px;
    padding-top: 10px;
   }





   .informações{
    border: solid 2px rgb(132, 74, 201);
    border-radius: 10px;
    margin-top: 20px;
    height: 85px;
    padding-top: 8px;
  }

  .tuor1 p, .tuor2 p, .tuor3 p, .tuor4 p, .tuor5 p, .tuor6 p, .tuor7 p, .tuor8 p, .tuor9 p{
    font-size: 12px;
    margin-top: 10px;
    border-top: 2px solid rgb(132, 74, 201);
  }
  
.loja{
  text-align: center;
  margin-top: 80px;
  font-size: 22px;
}

.loja h4{
  font-family: sans-serif;
  margin-left: 0%;
  font-size: 22px;
  width: 30%;
  margin-left: 65%;
}

}


















